.herosection {
    display: flex;
    background: hsl(210, 31%, 80%);

}

.herodiv1 {
    margin: 10px;
    padding: 10px;
    background: white;
}

.herodiv2 {
    margin: 10px;
    padding: 10px;
    background: white;
    
}

@media screen and (max-width: 800px) {
    .herosection {
        flex-wrap: wrap;
    }
}